@model WebProjectAssesment.tblCustomer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<div class="row">
    <div class="col-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

          
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 pt-4">
                    <input type="submit" value="Save" class="btn btn-success" />

                    @if (ViewData["msg"] != null)
                    {
                        if (ViewData["msg"].ToString().Contains("Error"))
                        {
                            <div class="alert alert-success">@ViewData["msg"]</div>
                        }
                        else
                        {
                            <div class="alert alert-success">@ViewData["msg"]</div>
                        }

                    }

                </div>
            </div>
        </div>
        }
    </div>
    <div class="col-8">

        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Address</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<tblCustomer>)ViewBag.CustomerList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>
                            @Html.ActionLink("Edit", "index", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "DeleteCust", new { id = item.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you Sure?')" })
                        </td>
                    </tr>

                }

            </tbody>
        </table>


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
